header{
  margin: 0px;
  background-color: #263545 ; /*cor de fundo*/

}
nav{
  margin: 0px;
  text-align: center;
}
.higema{
  text-align: center;
  margin: 0px auto;
  padding: 20px; 
  font-size: 6em;
  color: #B8B08D;
  font-family: "Bebas Neue", Sans-Serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 10px;
}
a{
  color: #fff;
  font-size: 20px;
  font-family: "Bebas Neue", serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 20px;
}
#button{
  display: inline-block; /*deixa o display como blocos*/
  background-color: #319df2;/*cor de fundo*/
  height: 60px; /*ultura*/
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 5px 5px 0px #000; /*colocar sombra*/
}
main{
  margin: 0px;
  height: 70em; /*altura*/
  background-image: linear-gradient(to bottom,#202839,#2d3f4d ,#B8B08D ,#F2D492,#F29559);
  text-align: center; /*texto no cetro*/
}
.ttl{
  margin: 0px;
  padding: 20px;
  font-size: 3em;
  color: #B8B08D;
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}
.texcolor{
  color: #B8B08D;
  margin: 20px;
  text-align: justify;
  font-weight: bold;
  font-family: Sans-Serif;
}
.texcolorr{
  color: #F2D492;
  margin: 20px;
  text-align: justify;
  font-weight: bold;
  font-family: Sans-Serif;
}
.ttll{
  font-size: 3em;
  color: #2d3f4d;
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}
.textcolo{
  color: #2d3f4d;
  margin: 20px;
  text-align: justify;
  font-weight: bold;
  font-family: Sans-Serif;
}
footer{
  height: 50px; /*altura*/
  background-color:#ee8b4b; /*cor de fundo*/
  text-align: center; /*texto no cetro*/
}
